<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상정 예약 관리</title>
</head>
<style>
    div.menu {
        float: left;
    }
    div.home {
        float: right;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table th, .table td {
        border: solid 1px #000000;
    }
    .table td {
        text-align: center;
    }
    p.nothing {
        text-align: center;
        padding: 100px;
    }
</style>
<body>

    <h1> 상점 예약 관리 </h1>
    <div th:replace="/fragments/layout.html :: fragment-partner-body-menu"></div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>예약자명</th>
                    <th>상점명</th>
                    <th>예약 시간</th>
                    <th>예약 승인여부</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="x : ${list}">
                    <td th:text="${x.id}">NO</td>
                    <td th:text="${x.customerId}">예약자명</td>
                    <td th:text="${x.storeName}">상점명</td>
                    <td th:text="${x.reservationDt}">예약 시간</td>
                    <td th:text="${x.status}">예약 승인여부</td>
                    <td th:switch="${x.status}" >
                        <div th:case="'STATUS_REQ'">
                            <form name="approvedForm" method="post" action="/partner/store/reservation/approve">
                                <input type="hidden" name="id" th:value="${x.id}">
                                <button class="approved" name="approved" type="submit">승인</button>
                            </form>
                            <form name="canceledForm" method="post" action="/partner/store/reservation/cancel">
                                <input type="hidden" name="id" th:value="${x.id}">
                                <button class="canceled" name="canceled" type="submit">취소</button>
                            </form>
                        </div>
                        <div th:case="STATUS_APPROVED"></div>
                        <div th:case="STATUS_CANCEL"></div>
                    </td>
                </tr>
                <tr th:if="${#lists.size(list) < 1}">
                    <td colspan="6">
                        <p class="nothing">내용이 없습니다.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>