<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상점 등록 완료</title>
</head>
<style>
    div.menu {
        float: left;
    }
    div.home {
        float: right;
    }
</style>
<body>

<div th:if="${result}">
    <h1>상점 등록 완료</h1>
    <div th:replace="fragments/layout.html :: fragment-partner-body-menu"></div>
    <p>상점 등록이 완료되었습니다.</p>
</div>

<div th:if="${result eq false}">
    <h1>상점 등록 결과</h1>
    <div th:replace="fragments/layout.html :: fragment-partner-body-menu"></div>
    <p>상점 등록에 실패하였습니다.</p>
</div>

</body>
</html>